@model Project.Service.VehicleRepository
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<br /><br />

<h3>Model info</h3>

<br />

<table class="table">

    <tr>
        <th>@Html.DisplayNameFor(Model => Model.vehicleModel.Id)</th>
        <th>@Html.DisplayNameFor(Model => Model.vehicleModel.Name)</th>
        <th>@Html.DisplayNameFor(Model => Model.vehicleModel.Abrv)</th>        
        <th></th>
    </tr>
    
    <tr>
    <tr>
        <td>@Model.vehicleModel.Id.ToString()</td>
        <td>@Model.vehicleModel.Name</td>
        <td>@Model.vehicleModel.Abrv</td>
        <td>
            @Html.ActionLink("Edit", "EditModel", new { id = Model.vehicleModel.Id }) |
            @Html.ActionLink("Delete", "DeleteModel", new { id = Model.vehicleModel.Id })
        </td>
    </tr>

</table>

<br /><br />

<h3>Maker info</h3>

<br />

<table class="table">

    <tr>
        <th>@Html.DisplayNameFor(Model => Model.vehicleMake.Id)</th>
        <th>@Html.DisplayNameFor(Model => Model.vehicleMake.Name)</th>
        <th>@Html.DisplayNameFor(Model => Model.vehicleMake.Abrv)</th>
        <th></th>
    </tr>

    <tr>
    <tr>
        <td>@Model.vehicleMake.Id.ToString()</td>
        <td>@Model.vehicleMake.Name</td>
        <td>@Model.vehicleMake.Abrv</td>
        <td>
            @Html.ActionLink("Edit", "EditMake", new { id = Model.vehicleMake.Id }) |
            @Html.ActionLink("Delete", "DeleteMake", new { id = Model.vehicleMake.Id })
        </td>
    </tr>

</table>

<br /><br />

@Html.ActionLink("Back to List", "Index")