@model IEnumerable<Project.Service.VehicleRepository>
@{
    ViewBag.Title = "Index";
}

<h2>Vehicle database</h2>
<br />

<p>
    @Html.ActionLink("Add", "Create")
</p>

<table class="table">

    <tr>
        <th>@Html.DisplayNameFor(Model => Model.vehicleModel.Id)</th>
        <th>Model @Html.DisplayNameFor(Model => Model.vehicleModel.Name)</th>
        <th>Manfacturer @Html.DisplayNameFor(Model => Model.vehicleMake.Name)</th>
        <th>@Html.DisplayNameFor(Model => Model.vehicleModel.Abrv)</th>
        <th></th>     
    </tr>

    @foreach(var vehicle in Model)
    {
        <tr>
            <td>@vehicle.vehicleModel.Id.ToString()</td>
            <td>@vehicle.vehicleModel.Name</td>
            <td>
                @if (vehicle.vehicleMake == null)
                {
                    @("n/a");                  
                }
                else
                {
                    @vehicle.vehicleMake.Name;
                }
            </td>
            <td>@vehicle.vehicleModel.Abrv</td>
            <td>
                @Html.ActionLink("Edit", "EditModel", new { id = vehicle.vehicleModel.Id }) |
                @Html.ActionLink("Details", "Details", new { id = vehicle.vehicleModel.Id } ) |
                @Html.ActionLink("Delete", "DeleteModel", new { id = vehicle.vehicleModel.Id })
            </td>
        </tr>
    }
     

</table>

